.botui-actions-text-input {
  margin: 0;
  padding: 8px 0px;
  width: 100%;
}

.botui-container {
  padding: 12px;
  background: #fdfdfd;
  border: 1px solid #919292;
  /* border-radius */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 0 4px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 4px;
}
